
<% include('../layouts/header.ejs') %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    body{
        background-image: linear-gradient(to bottom, red,orange,yellow,green,blue,indigo,violet);
    }
    img{
        margin-top: 12px;
    box-shadow: 0px  4px 4px skyblue;

    }
    table{
        width: 120px;
        height: 120px;
        border : solid black ;
        margin: auto;
        text-align: center!important;
    }
    

    
</style>
    <h3 class="d-flex justify-content-center ">Welcome, <%= admin.name %></h3>
    <div class="d-flex justify-content-center">
    <tr >
        <td><img src="/userImages/<%= admin.image %>" width="320px" height="320px" alt="<%= admin.image %>"></td>
    </tr>
</div>

<div class="d-flex justify-content-center mt-3 ">
    <table  class="table table-primary table-hover w-75 h-75 ">
        <tr>
            <td>Email:-</td>
            <td>
                    <%= admin.email %>
                </td>
            </tr>
            <tr>
                <td>Mobile:-</td>
                <td>
                    <%= admin.mobile %>
                </td>
            </tr>
            
        </table>
    </div>
    <div class="d-flex justify-content-around ">
        <a href="/admin/dashboard">📝 Dashboard</a>
        
        <a href="/admin/edit-user?id=<%= admin._id %>"><i class="fas fa-edit fa-lg mx-1"></i> Edit</a>
        
        <a href="/admin/delete-user?id=<%= admin._id %>" class="text-danger"><i class="fas fa-trash fa-lg "></i> Delete</a>
        
        <a href="/admin/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
        
    </div>
        
        </div>
    </div>
    
    <% include('../layouts/footer.ejs') %>